@import "reset";
@import "themes/normal";
@import "themes/dark";
@import "themes/green";
@import "variables/global";

* > * {
    transition-duration: 0.2s;
}

#root {
    min-height: 100vh;
    font: var(--font-m);
    color: var(--secondary-color);
    background-color: var(--primary-bg-color);
}

.app {
    height: 100vh;
}

.content-page {
    display: flex;
}

.router {
    flex-grow: 1;
    height: calc(100vh - var(--navbar-height));
}

.title {
    margin: 0 0 1rem;
    font: var(--font-l);
    color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-bg-color);
}
