.PageLoaderDeprecated {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.PageLoader {
    max-width: 780px;
    margin: 0 auto;
}
