.ListBox {
}

.ListBoxWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Trigger {
    width: 100%;
}

.Button {
    width: 100%;

    &.open {
        border-color: var(--accent-color-redesigned);
        border-bottom: none;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.Options {
    overflow: hidden;

    width: auto;
    min-width: 100%;
    padding: 0 0 10px;

    background-color: var(--dark-bg-color-redesigned);
    border: 1px solid var(--accent-color-redesigned);
    border-top: none;
    border-radius: 0 0 var(--border-radius-xl) var(--border-radius-xl);
}

.Option {
    cursor: pointer;

    display: flex;
    gap: 10px;
    align-items: center;

    min-height: 36px;
    padding: 8px 16px;

    font: var(--font-m-redesigned);
    color: var(--text-color-redesigned);
    white-space: nowrap;

    &.active {
        background-color: var(--light-gb-color-redesigned);
    }

    &.selected {
        background-color: var(--light-gb-color-redesigned);
    }

    &.disabled {
        opacity: 0.7;
    }
}

.Icon {
    width: 19px;
}
