.ListBox {
    width: 100%;
}

.ListBoxWrapper {
    display: flex;
    gap: 4px;
    align-items: center;
    width: 100%;
}

.Trigger {
    width: 100%;
}

.Button {
    width: 100%;

    &.open {
        border-color: var(--accent-color-redesigned);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        .ArrowIcon {
            color: var(--accent-color-redesigned);
        }
    }
}

.Options {
    // 2px - нижний border кнопки
    top: calc(100% - 2px);

    overflow: hidden;

    width: auto;
    min-width: 100%;
    padding: 0 0 10px;

    background-color: var(--dark-bg-color-redesigned);
    border: 2px solid var(--accent-color-redesigned);
    border-top: none;
    border-radius: 0 0 21px 21px;
}

.Option {
    cursor: pointer;

    display: flex;
    gap: 10px;
    align-items: center;

    min-height: 36px;
    padding: 8px 16px;

    font: var(--font-m-redesigned);
    color: var(--text-color-redesigned);
    white-space: nowrap;

    &.active {
        background-color: var(--light-bg-color-redesigned);
    }

    &.selected {
        background-color: var(--light-bg-color-redesigned);
    }

    &.disabled {
        opacity: 0.7;
    }
}

.Icon {
    width: 19px;
}
