.LoginForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 300px;
}

.title {
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input{

}

.btn {
}

.errorMsg {
    text-align: center;
}
