.NotificationsItem {
    padding: 7px;
    border-radius: var(--border-radius-s);
}

.NotificationsItemRedesigned {
    padding: 16px 12px 8px 16px;
    background-color: var(--bg-color-redesigned);
}

@media (pointer: fine) {
    .Link > .NotificationsItem:hover {
        opacity: 0.7;
    }

    .Link > .NotificationsItemRedesigned:hover {
        background-color: var(--light-bg-color-redesigned);
    }
}
