.Flex {
    display: flex;
}

.FullWidth {
    width: 100%;
}

.FullHeight {
    height: 100%;
}

.AlignStart {
    align-items: flex-start;
}

.AlignCenter {
    align-items: center;
}

.AlignEnd {
    align-items: flex-end;
}

.AlignStretch {
    align-items: stretch;
}

.JustifyStart {
    justify-content: flex-start;
}

.JustifyCenter {
    justify-content: center;
}

.JustifyEnd {
    justify-content: flex-end;
}

.JustifySpaceBetween {
    justify-content: space-between;
}

.JustifyStratch {
    justify-content: stretch;
}

.DirectionRow {
    flex-direction: row;
}

.DirectionColumn {
    flex-direction: column;
}

.Gap0 {
    gap: 0;
}

.Gap2 {
    gap: 2px;
}

.Gap4 {
    gap: 4px;
}

.Gap6 {
    gap: 6px;
}

.Gap8 {
    gap: 8px;
}

.Gap10 {
    gap: 10px;
}

.Gap12 {
    gap: 12px;
}

.Gap14 {
    gap: 14px;
}

.Gap16 {
    gap: 16px;
}

.Gap18 {
    gap: 18px;
}

.Gap20 {
    gap: 20px;
}

.Gap24 {
    gap: 24px;
}

.Gap28 {
    gap: 28px;
}

.Gap32 {
    gap: 32px;
}
