.Text {
}

.title {
    color: var(--primary-color);
}

.text {
    color: var(--secondary-color);
}

.error * {
    color: var(--danger-color);
}

.contrast * {
    color: var(--contrast-color);
}

// align
.align-start {
    text-align: start;
}

.align-center {
    text-align: center;
}

.align-end {
    text-align: end;
}

// Size
.size-s {
    .title {
        font: var(--font-m);
    }

    .text {
        font: var(--font-s);
    }
}

.size-m {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size-l {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}
