.ArticleDetails {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;

    .header {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .user {
        align-items: baseline;
    }

    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--border-radius-l);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
