.Avatar {
    border-radius: 5px;
}

.rounded {
    border-radius: 50%;
}

.icon {
    color: var(--primary-color);
    fill: var(--primary-color);
}

.contrast {
    color: var(--contrast-color);
    fill: var(--contrast-color);
}
