.Code {
    overflow: auto;

    padding: 1rem;

    color: var(--contrast-color);

    background-color: var(--secondary-bg-color);
    border-radius: var(--border-radius-s);

    &__wrapper {
        position: relative;
    }
}

.copy {
    position: absolute;
    top: 1rem;
    right: 1rem;

    width: 25px;
    height: 25px;

    &__icon {
        fill: var(--contrast-color);
    }
}
