.PageError {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    height: 100vh;

    font-size: 2rem;
    color: #fff;

    button {
        border: 1px solid #fff;

        &:hover,
        &:active {
            color: #333;
            background-color: #fff;
        }
    }
}
