.PageError {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    height: 100vh;

    font: var(--font-l-redesigned);
    font-size: 2rem;
    color: var(--primary-color-redesigned);

    button {
        color: var(--primary-color-redesigned);
        background-color: var(--dark-bg-color-redesigned);

        // border: 1px solid var(--primary-color-redesigned);
        border-radius: var(--border-radius-m);

        &:hover,
        &:active {
            background-color: var(--light-bg-color-redesigned);
        }
    }
}
