.Popup {
    position: relative;
}

.Button {
    display: flex;
    align-items: center;
    justify-content: stretch;

    background-color: transparent;
    border: none;
}

.Content {
    position: absolute;
    z-index: var(--popup-z-index);
}

.topRight {
    bottom: 100%;
    left: 0;
}

.topLeft {
    right: 0;
    bottom: 100%;
}

.bottmLeft {
    right: 0;
}
