.Popover {

}

.Panel {
    overflow: hidden auto;

    width: max-content;
    min-width: 300px;
    max-width: 350px;
    min-height: 200px;
    max-height: 500px;
    margin: 5px 0;

    background-color: var(--bg-color-redesigned);
    border: 2px solid var(--accent-color-redesigned);
    border-radius: var(--border-radius-xl);
}
