@import "reset";
@import "themes/normal";
@import "themes/dark";
@import "variables/global";

.app {
    font: var(--font-m);
    color: var(--secondary-color);
    background-color: var(--bg-color);

    min-height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom: 2px solid var(--secondary-color);
    padding: 10px;

    a {
        color: var(--primary-color);
        text-decoration: none;
    }
}
