.LangSwitcher {
    display: flex;
    align-items: center;

    .text {
        display: block;
        font: var(--font-l-redesigned);
        font-weight: 900;
        color: var(--icon-color-redesigned);
    }
}
