.AppLink {
    color: var(--primary-color);
    text-decoration: none;
    transition: opacity var(--transition-duration);
}

@media (pointer: fine) {
    .AppLink.hover:hover {
        opacity: 0.8;
    }
}

.primary {
    color: var(--text-color-redesigned);
}

.secondary {
    color: var(--hint-color-redesigned);
}

.s {
    font: var(--font-s-redesigned);
}

.m {
    font: var(--font-m-redesigned);
}

.l {
    font: var(--font-l-redesigned);
}

.xl {
    font: var(--font-xl-redesigned);
}
