.app-dark-theme {
    // background
    --primary-bg-color: #222;
    --secondary-bg-color: #111;

    // text
    --primary-color: #fff;
    --secondary-color: #aaa;
    --contrast-color: #ccc;

    // buttns
    --success-color: #4dff8b;
    --default-color: #4dc7ff;
    --danger-color: #ff4d4d;
    --warn-color: #ffe14d;
    --dark-color: #111;

    // skeleton
    --skeleton-shadow: #111;
    --skeleton-color: #1118;

    // card
    --card-bg-color: #1a1a1a;
}
