.app.dark {
    // background
    --primary-bg-color: #222;
    --secondary-bg-color: #d8d8d8;

    // text
    --primary-color: #eee;
    --secondary-color: #474747;
    --contrast-color: #000;

    // buttns
    --success-color: #4dff8b;
    --default-color: #4dc7ff;
    --danger-color: #ff4d4d;
    --warn-color: #ffe14d;
    --dark-color: #111;
}
