.app-dark-theme {
    // background
    --primary-bg-color: #222;
    --secondary-bg-color: #111;

    // text
    --primary-color: #fff;
    --secondary-color: #aaa;
    --contrast-color: #ccc;

    // buttns
    --success-color: #4dff8b;
    --default-color: #4dc7ff;
    --danger-color: #ff4d4d;
    --warn-color: #ffe14d;
    --dark-color: #111;

    // skeleton
    --skeleton-shadow: #111;
    --skeleton-color: #1118;

    // card
    --card-bg-color: #1a1a1a;

    // redesigned
    --dark-bg-color-redesigned: #090f11;
    --bg-color-redesigned: #0c1214;
    --light-gb-color-redesigned: #151c1f;
    --text-color-redesigned: #dbdbdb;
    --hint-color-redesigned: #555;
    --cancel-color-redesigned: #d95757;
    --save-color-redesigned: #6cd98b;
    --icon-color-redesigned: #74a2b2;
    --accent-color-redesigned: #5ed3f3;
}
