.app-green-theme {
    // background
    --primary-bg-color: #448267;
    --secondary-bg-color: #f7f8f7;

    // text
    --primary-color: #f7f8f7;
    --secondary-color: #f7f8f7;
    --contrast-color: #355964;

    // buttns
    --success-color: #4dff8b;
    --default-color: #4dc7ff;
    --danger-color: #ff4d4d;
    --warn-color: #ffe14d;
    --dark-color: #111;

    // skeleton
    --skeleton-shadow: #355964;
    --skeleton-color: #fff8;

    // card
    --card-bg-color: #588f77;

    // redesigned
    --dark-bg-color-redesigned: #fff3d6;
    --bg-color-redesigned: #f0c048;
    --light-gb-color-redesigned: #f2d791;
    --text-color-redesigned: #1b1311;
    --hint-color-redesigned: #b8b2a2;
    --cancel-color-redesigned: #ff5e5e;
    --save-color-redesigned: #52fa81;
    --icon-color-redesigned: #4875f0;
    --accent-color-redesigned: #1d59ff;
}
