// :root,
.app.light {
    --bg-color: #d8d8d8;
    --inverted-bg-color: #333;
    --primary-color: #111;
    --secondary-color: #333;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #ccc;
}
