:root {
    // background
    --primary-bg-color: #d8d8d8;
    --secondary-bg-color: #333;

    // text
    --primary-color: #111;
    --secondary-color: #474747;
    --contrast-color: #eee;

    // buttns
    --success-color: #4dff8b;
    --default-color: #4dc7ff;
    --danger-color: #ff4d4d;
    --warn-color: #ffe14d;
    --dark-color: #111;

    // skeleton
    --skeleton-shadow: #888;
    --skeleton-color: #fff8;

    // card
    --card-bg-color: #bebebe;

    // redesigned
    --dark-bg-color-redesigned: #fff;
    --bg-color-redesigned: #eff5f6;
    --light-gb-color-redesigned: #e2eef1;
    --text-color-redesigned: #141c1f;
    --hint-color-redesigned: #adbcc0;
    --cancel-color-redesigned: #f77;
    --save-color-redesigned: #62de85;
    --icon-color-redesigned: #5ed3f3;
    --accent-color-redesigned: #00c8ff;
}
