:root {
    // background
    --primary-bg-color: #d8d8d8;
    --secondary-bg-color: #333;

    // text
    --primary-color: #111;
    --secondary-color: #474747;
    --contrast-color: #eee;

    // buttns
    --success-color: #4dff8b;
    --default-color: #4dc7ff;
    --danger-color: #ff4d4d;
    --warn-color: #ffe14d;
    --dark-color: #111;

    // skeleton
    --skeleton-shadow: #888;
    --skeleton-color: #fff8;

    // card
    --card-bg-color: #bebebe;
}
