.Button {
    overflow: hidden;

    box-sizing: content-box;

    font: var(--font-m-redesigned);
    text-overflow: ellipsis;

    border: 2px solid transparent;

    &:disabled {
        cursor: auto;
        opacity: 0.5;
    }

    .body {
        position: relative;
    }

    .content {
        display: flex;
        align-items: center;
    }

    .loader {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
    }
}

@media (pointer: fine) {
    .Button:not(:disabled):hover {
        &.primary {
            border-color: var(--accent-color-redesigned);
        }

        &.secondary {
            border-color: var(--accent-color-redesigned);
        }

        &.transparent {
            border-color: var(--accent-color-redesigned);
        }

        &.clear {
            opacity: 0.8;
        }

        svg {
            color: var(--accent-color-redesigned);
        }
    }
}

.primary {
    color: var(--text-color-redesigned);
    background-color: var(--light-gb-color-redesigned);
    border-color: transparent;
}

.secondary {
    color: var(--text-color-redesigned);
    background-color: var(--dark-gb-color-redesigned);
    border-color: transparent;
}

.transparent {
    color: var(--text-color-redesigned);
    background-color: transparent;
    border-color: transparent;
}

.outlined {
    color: var(--primary-color);
    background-color: transparent;
    border-color: var(--primary-color);

    &:not(:disabled):hover {
        color: var(--contrast-color);
        background-color: var(--secondary-bg-color);
        border-color: var(--secondary-bg-color);
    }
}

.clear {
    margin: 0;
    padding: 0;
    color: inherit;
    background-color: transparent;
}

.s {
    height: 32px;
    padding: 0 16px;
    border-radius: 18px;

    .content {
        padding: 3px 0;
    }
}

.m {
    height: 38px;
    padding: 0 16px;
    border-radius: 22px;

    .content {
        padding: 6px 0;
    }
}

.l {
    height: 44px;
    padding: 0 20px;
    border-radius: 24px;

    .content {
        padding: 10px 0;
    }
}

.red.primary {
    color: var(--text-color-redesigned);
    background-color: var(--cancel-color-redesigned);
    border-color: transparent;

    &:not(:disabled):hover {
        background-color: var(--light-gb-color-redesigned);
        border-color: var(--cancel-color-redesigned);
    }
}

.red.outlined {
    color: var(--cancel-color-redesigned);
    border-color: var(--cancel-color-redesigned);

    &:not(:disabled):hover {
        color: var(--text-color-redesigned);
        background-color: var(--cancel-color-redesigned);
        border-color: transparent;
    }
}

.loading {
    .content {
        opacity: 0;
    }
}
