.ArticleDetailsPage {
    min-height: 100%;

    .container {
        max-width: 900px;
        margin: 0 auto;
    }
}

.ArticleDetailsPageRedesigned {
    .container {
        max-width: 790px;
        margin: 0 auto;
    }
}
