.ArticleDetailsPage {
    min-height: 100%;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.comments {
    &__form {
    }

    &__list {
    }
}

.recommendations {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 1rem;
}
