.Button {
    border-radius: 3px;
    padding: 0.25rem;

    &:hover {
    }
}

.clear {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.primary {
    background-color: var(--inveted-bg-color);
    color: var(--primary-color);
    padding: 0.5rem;
}

.secondary {
    background-color: var(--bg-color);
    color: var(--inveted-primary-color);
    padding: 0.5rem;
}
