.Button {
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 3px;
}

.primary {
    color: var(--contrast-color);
    background-color: var(--secondary-bg-color);
}

.secondary {
    color: var(--contrast-color);
    background-color: var(--primary-bg-color);
}

.outlined {
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);

    &:hover {
        color: var(--contrast-color);
        background-color: var(--primary-color);
    }
}

.clear {
    margin: 0;
    padding: 0;
    color: inherit;
    background-color: transparent;
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}
