.Navbar {
    width: 100%;
    height: var(--navbar-height);
    padding: 0 15px;

    background-color: var(--secondary-bg-color);

    transition: var(--transition);
    transition-duration: var(--transition-duration);
}

.links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    height: 100%;
}
