.Drawer {
    pointer-events: none;

    position: fixed;
    z-index: var(--drawer-z-index);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: flex-end;
    justify-content: stretch;
}

.content {
    pointer-events: all;
    touch-action: none;

    position: fixed;
    z-index: var(--drawer-content-z-index);

    overflow: hidden auto;

    width: 100%;
    height: calc(100vh - 300px);
}

.contentOld {
    padding: 10px;
    background-color: var(--primary-bg-color);
    border-radius: var(--border-radius-m) var(--border-radius-m) 0 0;
}

.contentNew {
    padding: 18px;
    color: var(--text-color-redesigned);
    background-color: var(--dark-bg-color-redesigned);
    border-radius: var(--border-radius-xl) var(--border-radius-xl) 0 0;
}

.overlay {
    pointer-events: all;

    position: fixed;
    z-index: var(--overlay-z-index);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: var(--overlay-color);
}
