.Input {
    font: var(--font-l);
    line-height: 1;
    color: var(--primary-color);
    text-decoration: none;

    background-color: transparent;
    border-bottom: 2px solid (var(--secondary-color));

    transition: border 0.1s;

    &:focus {
        border-bottom: 2px solid (var(--primary-color));
    }
}
