.InputWrapper {
    display: flex;
    align-items: center;

    width: max-content;
    padding: 5px 16px;

    background-color: var(--dark-bg-color-redesigned);
    border: 2px solid var(--icon-color-redesigned);
    border-radius: var(--border-radius-xl);

    &.readonly {
        border-color: var(--hint-color-redesigned);

        svg {
            color: var(--hint-color-redesigned);
        }
    }

    &:not(.readonly):has(.Input:focus),
    &:not(.readonly):has(.Input:hover) {
        border-color: var(--accent-color-redesigned);

        svg {
            color: var(--accent-color-redesigned);
        }
    }

    &.addonRight,
    &.addonLeft {
        padding: 0 8px;
    }
}

.Input {
    width: 100%;
    font: var(--font-m-redesigned);
    color: var(--text-color-redesigned);
    background-color: transparent;

    &::placeholder {
        color: var(--hint-color-redesigned);
    }
}

.fullWidth {
    width: 100%;
}

.loader {
    height: 30px;
}

.s {
    height: 32px;
}

.m {
    height: 38px;
}
