.Modal {
    pointer-events: none;

    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;

    transition: all 0.3s;
    transition-property: opacity, z-index;
}

.content {
    cursor: auto;

    z-index: var(--moadl-content-z-index);

    min-width: 100px;
    max-width: 80vw;
    min-height: 100px;
    max-height: 80vh;
}

.contentOld {
    padding: 20px;
    color: var(--primary-color);
    background-color: var(--primary-bg-color);
    border-radius: 5px;
}

.contentNew {
    padding: 24px;
    color: var(--text-color-redesigned);
    background-color: var(--dark-bg-color-redesigned);
    border-radius: var(--border-radius-xl);
}

.isOpen {
    pointer-events: all;
    z-index: var(--modal-z-index);
    opacity: 1;
}

.isClosing {
    opacity: 0;
}
