* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    font-size: 30px;
    color: #ccc;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom: 2px solid #ccc;
    padding: 10px;

    a {
        color: #fff;
        text-decoration: none;
    }
}
