.EditableProfileCardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 4px;
    padding-bottom: 5px;

    .actions {
        *:not(:last-child) {
            margin-right: 0.5rem;
        }
    }
}

.EditableProfileCardHeaderRedesigned {
    margin-bottom: 8px;

    .actions {
        display: flex;
        gap: 32px;
        justify-content: space-between;
    }
}
