.ArticleViewSwitcher {
    display: flex;
    gap: 10px;

    .icon {
        width: var(--font-line-m);
        height: var(--font-line-m);
        color: var(--primary-color);
        transition-duration: 0s;

        path {
            transition-duration: 0.1s;
        }
    }

    .selected {
        color: var(--contrast-color);
    }
}

.ArticleViewSwitcherRedesigned {
    display: flex;
    background-color: var(--dark-bg-color-redesigned);
    border-radius: 25px;

    .button {
        width: 50px;
        height: 50px;
        padding: 14px;

        color: var(--light-gb-color-redesigned);

        background-color: var(--dark-bg-color-redesigned);
        border: 2px solid var(--dark-bg-color-redesigned);

        &:first-child {
            border-radius: 25px 0 0 25px;
        }

        &:last-child {
            border-radius: 0 25px 25px 0;
        }
    }

    .selected {
        color: var(--icon-color-redesigned);
        background-color: var(--bg-color-redesigned);
    }
}
